* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 3rem 5rem;
}

/*Resnposive*/

@media(width < 800px){
  .container{
    padding: 3rem 2rem;
  }
}

