.all-cont-form{
    width: 100%;
    min-height: 100vh;
    background-color: aliceblue;
    display: flex;
}
.cont-adress-link{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.adress{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}
.follow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
}
/*for form*/
.cont-form{
    width: 55%;
    /* background-color: rgb(208, 212, 216); */
    background-color: #97becf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 4rem;
}
.cont-form h3{
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}
.form{
    width: 60%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.grup-input{
    display: flex;
    flex-direction: column;
}
.grup-input input{
    border: none;
    min-height: 40px;
    padding: 0.4rem;
}
.cont-text-area textarea{
    width: 100%;
    min-height: 100px;
    border: none;
    resize: none;
    padding: 0.4rem;
}
.submit{
    cursor: pointer;
    background: none;
    min-height: 40px;
    transition-duration: .4s;
    transition-property: scale,background;
    border: solid 0.4px #fff;
}
.submit:hover{
    font-weight: 400;
    background-color: aliceblue;
    scale: 01.01;
    box-shadow: 0 0 10px 0 #ffffffbe;
}

/*Responsive*/

@media(width < 760px){
    .all-cont-form{
        flex-direction: column;
    }
    .cont-form h3{
        font-size: 2rem;
    }
    .cont-form{
        width: 100%;
        align-items: center;
        padding: 2rem 0;
    }
    .form{
        width: 60%;
    }
    .cont-adress-link{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        order: 2;
    }
    .adress,.follow{
        gap: 0.2rem;
        font-size: smaller;
    }
}

@media( width < 650px){
    .cont-adress-link{
        grid-template-columns: 1fr;
        padding-top: 3rem;
        gap: 3rem;
    }
}