.header {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../public/lovepik.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.h1-header {
  width: 80%;
  font-family: "Fjalla One", sans-serif;
  font-weight: 800;
  font-size: 2.2rem;
  color: rgb(9, 10, 30);
  margin-top: 4rem;
}
.banner {
  padding: 2rem;
  width: 80%;
  min-height: 63vh;
  border-radius: 10px;
  background-color: aliceblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.banner-section {
  text-align: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  width: 50%;
}
.banner-section h1,
h2 {
  font-family: "Fjalla One", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.banner-section p {
  font-size: small;
  font-weight: 100;
}
.banner-section-2 {
  width: 50%;
  height: 300px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}
