.gallery-cont{
    width: 100%;
    /* max-height: 600px;
    min-height: 600px; */
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.gallery-cont h2{
    text-align: center;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
}
.image-cont{
    width: 75%;
}