.stiky-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.gallery-cont{
    padding-top: 0.5rem;
    background-color: aliceblue;
    display: flex;
    gap: 1.5rem;
    top: 0;
    left: 0;
    position: sticky;
}
.image-cont{
    width: 70%;
}
.article-gallery{
    width: 30%;
    font-size: small;
    text-align: justify;
}
.article-gallery h4{
    font-size: large;
}


/*Responsive*/
@media(width < 890px){
    .article-gallery{
        font-size: 0.8rem;
    }
    .gallery-cont{
        align-items: center;
    }
}

@media(width < 785px){
    .gallery-cont{
        flex-direction: column;
    }
    .gallery-cont{
        width: 100%;
        padding: 0 0 0 0;
    }
    .image-cont{
        width: 100%;
    }
    .article-gallery{
        width: 100%;
        font-size: 0.8rem;
    }
}

