.card{
  width: 100%;
  max-width: 250px;
  font-size: small;
  color: rgb(0, 0, 0);
  padding: 0.5rem 0;
  border-radius: 3px;
  background-color: rgb(208, 212, 216);
  box-shadow: 5px 0px 5px 5px rgba(0, 0, 0, 0.301);
  cursor: pointer;
  transition-duration: .4s;
  transition-timing-function: ease-in;
  transition-property: background scale;
}
.card-titlle{
  font-size: medium;
  padding: 0 0.5rem;
}
.card-img{
  border-radius: 3px;
  width: 100%;
}
.card p{
  padding: 0 0.5rem;
}
@media(hover){
.card:hover{
  background-color: #97becf;
  scale: 01.05;
}
}