.nav-cont {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  background: #005aa7;
  background: -webkit-linear-gradient(to right, #fffde4, #005aa7);
  background: linear-gradient(to right, #fffde4, #005aa7);
  transition: 0.6s ease;
}
.nav-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 20px 0 30px 0 #ffffffd7;
  z-index: 2;
}
.logo-cont,
.logo-cont-hiden {
  text-decoration: none;
  cursor: pointer;
  margin: 0 0 0 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #000;
}
/*contenedor de botones*/
.ul-nav {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0 2rem 0 0;
}
/*navegacion en dispositivos movil*/
.nav-movil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.logo-cont-hidden {
  opacity: 0;
  position: none;
}
.menu-hambuger {
  opacity: 0;
  pointer-events: none;
}

/*Responsive*/
@media (width < 760px) {
  .nav-cont {
    position: absolute;
    min-height: 100vh;
    left: 0%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #0059a7e7;
    box-shadow: none;
  }
  .ul-nav {
    margin-top: 3rem;
    flex-direction: column;
  }
  .logo-cont {
    pointer-events: none;
    opacity: 0;
  }
  .logo-cont-hidden {
    opacity: 1;
    pointer-events: all;
  }
  .menu-hambuger {
    pointer-events: all;
    opacity: 1;
  }
  .menu-show {
    transform: translateX(0px);
  }
  .menu-hid {
    transform: translateX(-200px);
  }
}


