.icon-red-cont{
    display: flex;
    cursor: pointer;
    gap: 1rem ;
}
.icon-red-cont i{
    transition-property: sacale background;
    transition: 0.4s;
}
@media(hover){
    .icon-red-cont i:hover{
        scale: 01.5;
        /* color: aliceblue; */
    }
}


/*responsive*/
@media (width < 760px){
    .icon-red-cont{
        width: 100%;
        justify-content: center;
    }
}